[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-versioning = "==0.10.0"
python-dotenv = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
